link(rel="stylesheet", href="/css/footerStyle.css")

mixin footer(servicio, numero, enlaceIns, enlaceFace)
    - var servicio = servicio || "Sierras Hotel"
    - var numero = numero || "5492664955656"
    - var enlaceIns = enlaceIns || "https://www.instagram.com/sierrashotel/?hl=es"
    - var enlaceFace = enlaceFace || "https://www.facebook.com/SierrasHotelLasChacras/?locale=es_LA"

    a(href=`https://wa.me/${numero}?text=Hola!%20Estuve%20viendo%20el%20sitio%20web.%20Me%20gustara%20obtener%20mas%20infromación%20sobre%20*${encodeURIComponent(servicio)}*.` target="_blank") 
        div.whatsapp-wrapper
            img.whatsapp(src="/images/whatsappButton.png", alt="")
    footer.footer
        div.footer-contenido
            a.subir(href="#") Subir
            ul.redes
                li
                    a(href= `${enlaceFace}` target="_blank") 

                        img.redes(src="/images/facebook.png", alt="")
                li
                    a(href=`${enlaceIns}` target="_blank") 

                        img.redes(src="/images/instagram.png", alt="")
                li
                    a(href="/contacto/contactoPrincipal" target="_blank") Contacto
                        
            p COPYRIGHT © 2025 Sierras Hotel - Diseñado y Programado por 
                a(href="#") Salonia Luca 
        
