link(rel="stylesheet", href="/css/iframe.css")
section.mapa 
        h2 Podes encontrarnos en la siguiente ubicacion
        div.mapaContenedor
          iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d571.4348351812796!2d-66.23306033681648!3d-33.26672447388917!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95d415f4b81b104d%3A0x9a426bad3f1455cd!2sSierras%20Hotel%20-%20Las%20Chacras%2FJuana%20Koslay!5e0!3m2!1ses-419!2sus!4v1750786962651!5m2!1ses-419!2sus"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")