
link(rel="stylesheet", href="/css/navBarStyle.css")



header
    nav.navbar
        img.logo(src="/images/lohoHotelSierras.png", alt="")

        div.menu-toggle ☰

        ul.menu
            li
                a(href="/") Servicios
            hr

            li
                a(href="/hotel/hotelPrincipal") Hotel

            hr

            li
                a(href="/hotel/habitaciones") Habitaciones

            hr  

            li
                a(href="/restaurante/restaurantePrincipal") Restaurante

            hr
            

            li
                a(href="/eventos/eventosPrincipal") Eventos

            hr


            li
                a(href="/club/clubPrincipal") Club

            hr


            li
                a(href="/contacto/contactoPrincipal") Contacto
            hr
        div.redesCont
            div.redesEnlaces

                a(href="https://www.facebook.com/SierrasHotelLasChacras/?locale=es_LA")

                    img.redes(src="/images/facebook.png", alt="")

                a(href="https://www.instagram.com/sierrashotel/?hl=es")
                
                    img.redes(src="/images/instagram.png", alt="")
script(src="/scripts/navBarResponsive.js")
