doctype html
html
  head
    title Sierras Hotel
    link(rel="stylesheet", href="/css/habitacionesStyle.css")
  body
    include ../includes/navbar.pug
    main
      
    
  include ../includes/footer.pug