doctype html
html(lang="es")
  head
    script(src="/scripts/estiquetaGoogle.js")
    title Hotel Sierras Servicios
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/indexStyle.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap")
    include ./includes/meta.pug

    script(src="/scripts/fadeEfect.js")
  body
    a(href="https://wa.me/5492664955656?text=Hola!%20Estuve%20viendo%20el%20sitio%20web.%20Me%20gustaria%20obtener%20mas%20informacion%20sobre%20los%20servicios." target="_blank") 
      div.whatsapp-wrapper 
        img.whatsapp(src="/images/whatsappButton.png", alt="")
    section.presentacion
      div.presentacion 
            img(src="/images/logoGrupoSierras.png", alt="")
            h1.slogan Te invitamos a 
              span(style="color:#2e4735") DESCUBRIR 
              | nuestros servicios
    section.servicios 
      div.container
        div.hotel.aparecer.plantilla
          div.contenido
            h2.titulo
              span.bold Sierras 
              span.suave Hotel
            p.descripcion Sierras Hotel es un emprendimiento turístico que busca satisfacer todas las expectativas de quienes lo visitan, sin perder los valores tradicionales de familia y amistad que caracterizan a estos pagos puntanos
            a.boton(href="/hotel/hotelPrincipal") Ver más


        div.restaurante.aparecer.plantilla
          div.contenido
            h2.titulo
              span.bold Sierras 
              span.suave Restaurante
            p.descripcion Sierras Turísticas ofrece a sus huespedes un restaurant con amplia variedad de platos de la cocina tradicional casera, con una variada carta de platos, vinos y postres.
            a.boton(href="/restaurante/restaurantePrincipal") Ver más

        div.eventos.aparecer.plantilla
          div.contenido
            h2.titulo 
              span.bold Sierras 
              span.suave Eventos
            p.descripcion El Sierras Hotel cuenta con un nuevo salón de eventos y conferencias donde se realizan habitualmente Casamientos, Cumpleaños de 15, demás Eventos Sociales, Conferencias, Jornadas de trabajo y Capacitaciones.
            a.boton(href="/eventos/eventosPrincipal") Ver más

        div.club.aparecer.plantilla
          div.contenido
            h2.titulo 
              span.bold Sierras 
              span.suave Club
              p.descripcion En nuestro club, cada clase de natación y sesión de gimnasio funcional ofrece una experiencia exclusiva y a medida. Nos enfocamos en tu bienestar con actividades adaptadas para todas las edades y niveles.
            a.boton(href="/club/clubPrincipal") Ver más

      div.contacto
        div.telefono 
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
            <path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232"/>
          </svg>
                  h3 +54 9 2664 95-5656
        div.telefono 
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
          </svg>
          h3 sierrashotelmayo2017@gmail.com  

        div.telefono 
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
          </svg> 
          h3 Las Calandrias 100, Las Chacras, Juana Koslay


      div.contenidoCopy
        h4.tituloCopy COPYRIGHT © 2025 Sierras Hotel - Diseñado y Programado por 
          a(href="https://wa.me/5492664688406?text=Hola%2C%20me%20gustó%20tu%20sitio%20web" target="_blank") Salonia Luca

      