@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Lato", sans-serif;
}

section.presentacionClub {
  background-image: url("https://i.ibb.co/CKDbBC3w/galeria3.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

section.presentacionClub::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   background: rgba(56, 55, 55, 0.767);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 0;
}

div.presentacionContenido {
  margin-top: 0px;
  position: relative;
  z-index: 1;
  padding: 2rem;
  height: 60vh;
}

div.presentacionContenido h2.titulo {
  text-align: center;
  font-size: 3rem;
  color: #e8e7e3;
  margin: 2rem 0;
}

div.presentacionContenido p {
  text-align: justify;
  font-size: 1.2rem;
  color: #e8e7e3;
  font-weight: 350;
}

span.bold {
  font-weight: 500;
}

span.suave {
  color: #3a8061;
  font-weight: 400;
  font-style: italic;
}

div.presentacionContenido hr {
  width: 90%;
   height: 1px;
  max-width: 600px;
  background-color: #a5a4a0;
}

.carousel-item {
  transition: transform 1s ease-in-out !important;
}

.carousel-fade .carousel-item {
  transition: opacity 1s ease-in-out !important;
}

.carousel-indicators .active {
  background-color: #2e3b33;
}

div.galeriaContenedorMobile img {
  width: 100%;
  height: 250px;
}



section.galeria {
  margin-top: 2rem;
  padding: 2rem;
  padding-bottom: 0;
}

div.galeriaDescripcion h2.titulo {
  text-align: center;
  font-size: 2.5rem;
  color: #444;
  margin: 1rem 0;
}
div.galeriaDescripcion p {
  text-align: justify;
  font-size: 1.4rem;
  color: #444;
  font-weight: 350;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
div.galeriaDescripcion hr {
  width: 70%;
  max-width: 600px;
  background-color: #a5a4a0;
  margin: 0 auto;
}
section.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}
div.contactoCont hr {
  width: 90%;
  max-width: 600px;
}

a.contactoLink {
  text-decoration: none;
  color: #e8e7e3;
  background-color: rgb(46, 94, 64);
  border-radius: 15px;
  display: inline-block;
  max-width: 100%;
  text-align: center;
  font-size: 2rem;
  padding: 1rem 2rem;
  margin: 1rem 0;
  transition: transform 0.3s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}
a.contactoLink:visited {
  color: #e8e7e3;
}
a.contactoLink:hover {
  transform: scale(1.05);
  background-color: rgb(36, 117, 67);
  text-decoration: none;
}
a.contactoLink:active {
  transform: scale(0.95);
  text-decoration: none;
}


@media (min-width: 648px) {
  section.galeria {
    width: 50%;
    margin: 0 auto;
  
}

div.galeriaDescripcion h2.titulo {
   margin-top: 0px;
}

div.galeriaDescripcion hr {
  height: 1px;
}
  div.contactoCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  a.contactoLink {
    text-align: center;
    font-size: 25px;
    padding: 20px 40px;
    margin: 10px 0;
  }
  div.contactoCont hr {
    width: 350px;
    height: 1px;
  }
  div.galeriaContenedorMobile {
      width: 60%;
      margin: 0 auto;

  }
  div.galeriaContenedorMobile img {
    height: 500px;

  }

 
  
  div.presentacionContenido {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    margin: 80px auto;
  }
  div.presentacionContenido h2.titulo {
    font-size: 60px;
    margin: 0px;
  }
  div.presentacionContenido p {
    font-size: 1.5rem;
    width: 50%;
    margin-bottom: 10px;
  }
  div.presentacionContenido hr {
    width: 650px;
    height: 1px;
    background-color: #e8e7e3;
    margin-left: 0;
    margin-right: auto;
  }
}

@media (min-width: 1920px) {
  div.presentacionContenido {
    padding-left: 80px;
  }
  div.presentacionContenido h2.titulo {
    font-size: 70px;
    margin: 0px;
  }
  div.presentacionContenido p {
    width: 50%;
    font-size: 2rem;
    margin-bottom: 0px;
  }
  
  div.contactoCont hr {
    width: 400px;
    height: 1px;
  }
   div.galeriaContenedorMobile img {
    width: auto;
    height: 550px;

  }

}
