@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

section.infoContacto {
  display: flex;
  flex-direction: column;
  color: #444;
  padding: 20px;
  gap: 10px;
}

div.contactoInfoCont {
  background-color: #d0d4d1;
  padding: 25px 10px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.527);
}
svg {
  color: #0c3322;
}
section.infoContacto h2 {
  font-size: 1.6rem;
  text-align: start;
}
 div.infoContactoDireccion.contInfo{
  padding: 0 20px;

 }
.contInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-left: 20px;
}
.infoContactoDireccion {
  margin-bottom: 0;
  margin-left: 0;
}
.contInfo h3 {
  margin: 10px 0;
  font-weight: 500;
  font-size: 1rem;
}

.contInfo a img {
  width: 40px;
  height: 40px;
}

section.formulario {
  padding: 20px;
  color: #444;
  margin-bottom: 50px;
}

section.formulario h2.tituloFormulario {
  font-size: 1.6rem;
  margin-bottom: 20px;
  text-align: end;
}

section.formulario form {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.384);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d0d4d1;
  border-radius: 5px;
  padding: 25px 15px;
  gap: 15px;
}

section.formulario div {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  gap: 8px;
}

section.formulario label {
  font-weight: 600;
  font-size: 1rem;
}

section.formulario input,
section.formulario select,
section.formulario textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1.5px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  resize: vertical;
}

section.formulario textarea {
  height: 150px;
}

section.formulario input:focus,
section.formulario select:focus,
section.formulario textarea:focus {
  border-color: #d6e2de;
  outline: none;
}

section.formulario button.botonEnviar {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  padding: 15px 30px;
  color: #ffffff;
  border: none;
  background-color: #4a5a53;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

section.formulario button.botonEnviar:hover {
  background-color: #3c4b45;
}

.modalCarga {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
}

.cajaExito {
  background: #d4edda;
  color: #155724;
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  animation: fadeInScale 0.3s ease-in-out;
  width: 80%;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (min-width: 1366px) {
    .modalCarga {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
  }

  #loader {
    width: 4rem;
    height: 4rem;
  }

  .cajaExito {
    background: #d4edda;
    color: #155724;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    animation: fadeInScale 0.3s ease-in-out;
     width: 50%;
  }

  @keyframes fadeInScale {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  div.contactoInfoCont {
    width: 25%;
  }

  section.infoContacto {
    align-items: center;
    gap: 10px;
  }

  section.formulario {
    align-items: center;
    justify-content: center;
  }
  section.formulario h2.tituloFormulario {
    text-align: center;
  }
  section.formulario form {
    width: 40%;
    justify-self: center;
  }
  section.formulario form {
    gap: 0px;
  }
  section.formulario form label{
    margin-bottom: 0;
   
  }

  section.formulario textarea {
    height: 150px;
  }
  div.infoContactoDireccion.contInfo{
  margin-left: 20px;
 }
 .botonEnviar{
  margin-top: 10px;
 }
}

@media (min-width: 1920px) {
  section.formulario form {
    width: 30%;
  }
  div.contactoInfoCont {
    width: 18%;
  }
  .contInfo {
    margin-left: 50px;
  }
  .infoContactoDireccion {
    margin-left: 0;
  }
}
