@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  margin: 0;
  padding: 0;
  background: #e8ecec;
  font-family: "Lato", sans-serif;
}
section.presentacion{
  padding: 0 10px;
}
svg {
  color: #0c3322;
}
section.servicios {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  font-size: 1.5rem;
}

.presentacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 16px;
}
.presentacion img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 12px;
  margin-bottom: 12px;
}

h1.slogan {
  color: #504f4f;
  font-weight: 450;
  line-height: 1.3;
  margin: 0;
  font-size: 1.8rem;
}
h1.slogan span {
  font-weight: 600;
  color: #2e4735;
  font-style: italic;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5px;
}

.plantilla {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}

.plantilla:hover .contenido {
  transform: translateY(0);
  opacity: 1;
}

.plantilla.hotel {
  background-image: url("/images/frenteHotel.jpg");
}
.plantilla.restaurante{
  background-image: url("/images/frenteRes2.jpg");
}
.plantilla.eventos{
    background-image: url("https://i.ibb.co/8yBH3NS/eventos4.jpg");

}
.plantilla.club{
   background-image: url("/images/galeria/galeria3.jpg");
}

.contenido {
  padding: 15px;
  background: rgba(34, 33, 33, 0.85);
  backdrop-filter: blur(2px);
  text-align: center;
  border-radius: 0 0 20px 20px;
}
.contenido p.descripcion {
  text-align: center;
  font-size: 1rem;
  color: #faf9f6;
  margin-top: 5px;
  font-weight: 300;
   font-family: "Lato", sans-serif;
}

.contenido::after {
  content: "";
  position: absolute;
  background: rgba(34, 33, 33, 0.85);
  top: -12%;
  left: 40%;
  width: 20%;
  height: 12%;
  z-index: 1;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.titulo {
  font-size: 1.5rem;
  margin: 0 0 0px;
  color: #faf9f6;
}
.titulo .bold {
  font-weight: 400;
}
.titulo .suave {
  color: #3a8061;
  font-weight: 400;
  font-style: italic;
}

.aparecer {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 1s ease, transform 1s cubic-bezier(0.23, 1.01, 0.32, 1);
}
.aparecer.visible {
  opacity: 1;
  transform: translateY(0);
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  font-size: 1rem;
  gap: 10px;
}

.telefono {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}
.telefono img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 20%;
  background: #eee;
}
.telefono h3 {
  font-weight: 500;
  margin: 0;
  color: #333;
  font-size: 1rem;
}

.boton {
  padding: 5px 50px;
  background: #2e4735;
  color: #faf9f6;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  display: inline-block;
  transition: transform 0.2s ease;
}
.boton:active {
  transform: scale(0.90);
  transition: transform 0.1s ease;
}
.boton:hover {
  background: #3a8061;
  color: #faf9f6;
}
h4.tituloCopy {
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
  color: #504f4f;
}
h4.tituloCopy a {
  color: #504f4f;
  text-decoration: none;
}
h4.tituloCopy a:visited {
  color: #504f4f;
}
.whatsapp-wrapper {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 80px;
  height: 80px;
  z-index: 5000;
  animation: pulse 2s ease-in-out infinite;
}

.whatsapp-wrapper:hover {
  animation-play-state: paused;
}

.whatsapp {
  width: 80%;
  height: 80%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.whatsapp:active {
  transform: scale(1.1);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}



@media (min-width: 1366px) {
  body {
  margin: 0;
  padding: 0;
  background: #e8ecec;
  font-family: "Lato", sans-serif;
  background-image: url("/images/galeria/galeria5.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}
body::after{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(232, 236, 236, 0.918);
  z-index: -1;
}
  div.presentacion img {
    width: 50%;
    margin: 0;
  
  }
    div.presentacion{
      margin: 0;
    }
    div.presentacion  .slogan {
      margin: 0;
    }
  section.servicios {
    gap: 0;

  }
  section.servicios .container {
    flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 15px;

  }
   div.container div.plantilla {
    width: 20%;
    min-height: 300px;
      border-radius: 10px;
       transition: transform 0.4s ease-in-out;
  }
   div.container div.plantilla:hover {
     transform: scale(1.05);
     z-index: 10;
  }
    .container .plantilla  .contenido {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
    
    }
     .container .plantilla  .contenido p{
      display: none;
     }
     div.contacto{
    flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 150px;
     }
     div.contenidoCopy h4{
      margin: 0;
     }
       .whatsapp-wrapper {
    width: 70px;
    height: 70px;
    transition: tran;
  }
  .whatsapp {
    width: 70px;
    height: 70px;
    transition: transform 0.3s ease;
  }
  .whatsapp:hover {
    transform: scale(1.1);
  }
  .whatsapp:active {
    transform: scale(0.95);
  }

}


@media (min-width: 1920px) {
  div.presentacion img {
    width: 60%;
    margin: 0;
  
  }
  .whatsapp-wrapper {
    width: 80px;
    height: 80px;
  }

  .whatsapp {
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease;
  }
  .whatsapp:hover {
    transform: scale(1.1);
  }
  .whatsapp:active {
    transform: scale(0.95);
  }
}

