doctype html
html(lang="es")
  head
    title Sierras Club
    link(rel="stylesheet", href="/css/clubStyle.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
    include ../includes/meta.pug
  body
    include ../includes/navbar.pug
    +navbar("https://www.instagram.com/sierras.club/?hl=es","https://www.facebook.com/SierrasClubok/?locale=es_LA")
    main
      section.presentacionClub
        div.presentacionContenido
          h2.titulo
            span.bold Sierras 
            span.suave Club 
          hr
          p Contamos con una pileta semiolímpica climatizada, cubierta con techo corredizo de policarbonato, para que puedas disfrutarla en cualquier condición climática.
          p En 
            span.suave Sierras Club
            | , ofrecemos natación para todas las edades y niveles, aquagym, pileta libre y un gimnasio con entrenamiento funcional personalizado, siempre con profesionales dedicados a tu salud y bienestar.
          p
            span.bold Animate y viví la experiencia de esta gran 
              span.suave familia 
              | del sierras club y sierras hotel.
      section.galeria
        div.galeriaDescripcion
          h2.titulo 
            span.suave Descubrí Sierras Club  
          hr
          p Desde la pileta climatizada, con 
            span.bold clases de natación para niños, adultos, federados e iniciales
            | , hasta los entrenamientos en el gimnasio con 
            span.bold funcional personalizado
            |  (consultar cupos), compartimos algunos de los momentos que hacen especial cada día en 
            span.suave Sierras Club
            | . También disfrutamos de actividades como 
            span.bold aquagym
            | , 
            span.bold yoga
            | , 
            span.bold pileta libre
            |  y de la alegría de la 
            span.bold colonia de vacaciones
            | , donde grandes y chicos pasan lindos momentos durante el invierno y el verano.


      div.galeriaContenedorMobile
          div#carouselSuit.carousel.slide(data-ride="carousel" data-interval="false" data-pause="hover"  data-wrap="true")
                ol.carousel-indicators
                  li.active(data-target="#carouselSuit" data-slide-to="0")
                  li(data-target="#carouselSuit" data-slide-to="1")
                  li(data-target="#carouselSuit" data-slide-to="2")
                  li(data-target="#carouselSuit" data-slide-to="3")
                  li(data-target="#carouselSuit" data-slide-to="4")
                  li(data-target="#carouselSuit" data-slide-to="5")
                  li(data-target="#carouselSuit" data-slide-to="6")
                  li(data-target="#carouselSuit" data-slide-to="7")
                  li(data-target="#carouselSuit" data-slide-to="8")
                  li(data-target="#carouselSuit" data-slide-to="9")
                  
                .carousel-inner
                  .carousel-item.active
                    img.d-block.w-100(src="https://i.ibb.co/whh49Md4/club1.png" loading="lazy" alt="Cama Doble")
                  .carousel-item
                    img.d-block.w-100(src="https://i.ibb.co/Qvmb6Vz9/club7.png" loading="lazy" alt="Baño standar")
                  .carousel-item
                    img.d-block.w-100(src="https://i.ibb.co/nsYJ6gHF/club3.jpg" loading="lazy" alt="Sala Doble")
                  .carousel-item
                    img.d-block.w-100(src="https://i.ibb.co/gFQxJ4T3/club4.jpg" loading="lazy" alt="Sala Doble")
                  .carousel-item
                    img.d-block.w-100(src="https://i.ibb.co/pjFh7rf5/club5.jpg" loading="lazy" alt="Sala Doble")
                  .carousel-item
                    img.d-block.w-100(src="https://i.ibb.co/rG0TpdjF/club6.jpg" loading="lazy" alt="Sala Doble")
                  .carousel-item
                    img.d-block.w-100(src="https://i.ibb.co/DDfFxyTn/club10.jpg" loading="lazy" alt="Sala Doble")
                  .carousel-item
                    img.d-block.w-100(src="https://i.ibb.co/RkPZxvWG/club12.jpg" loading="lazy" alt="Sala Doble") 
                  .carousel-item
                    img.d-block.w-100(src="https://i.ibb.co/gZq28Hvg/club14.png" loading="lazy" alt="Sala Doble") 
                  .carousel-item
                    img.d-block.w-100(src="https://i.ibb.co/ccwnqNH2/club13.png" loading="lazy" alt="Sala Doble") 
                                
                a.carousel-control-prev(href="#carouselSuit" role="button" data-slide="prev")
                  span.carousel-control-prev-icon(aria-hidden="false")
                  span.sr-only Previous
                a.carousel-control-next(href="#carouselSuit" role="button" data-slide="next")
                  span.carousel-control-next-icon(aria-hidden="false")
                  span.sr-only Next   
      include ../includes/botonContacto.pug
      include ../includes/iframe.pug
      script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
      script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js")
      
  include ../includes/footer.pug
  
  +footer("el Club Sierras","5492665022402","https://www.instagram.com/sierras.club/?hl=es","https://www.facebook.com/SierrasClubok/?locale=es_LA")