doctype html
html
  head
    title Sierras Hotel
    link(rel="stylesheet", href="/css/hotelPrincipalStyle.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
    include ../includes/meta.pug
  body
    include ../includes/navbar.pug
    +navbar()
    main
      section.presentacionHotel 
        div.precentacionContenido
          h2.titulo
            span.bold Sierras 
            span.suave Hotel 
            
          hr
          p Ubicado en 
            span.bold Las Chacras
            | , una de las zonas más tradicionales de la joven ciudad de 
            span.bold Juana Koslay
            | , a solo 14 km del 
            span.bold microcentro de la ciudad de San Luis 
            | y a 6,5 km del centro de 
            span.bold Potrero de los Funes.

          p Rodeado de los atractivos turísticos más importantes de la región, se encuentra 
            span.suave Sierras Hotel
            | , un emprendimiento turístico que busca satisfacer todas las expectativas de quienes lo visitan, sin perder los valores tradicionales de 
            em familia y amistad que caracterizan a estos pagos puntanos.



      section.habitaciones
        div.habitacionesCont
          hr
          a.habitacionesLink(href="/hotel/habitaciones") Ver 
            span.suave Habitaciones 
          hr


      section.contingentes 
        div.contingentesDescripcion
          h2.contingentesTitulo 
            strong Tu grupo, 
            
            span.suave   nuestra especialidad 
          hr
          p 
            | Recibimos contingentes durante todo el año, ofreciendo un servicio especializado para grupos que 
            strong buscan comodidad, seguridad y organización. 
            | Nuestro hotel cuenta con la infraestructura y el equipo humano necesarios para alojar desde escuelas hasta clubes, delegaciones o asociaciones, garantizando una estadía ordenada y 
            em placentera.
                    hr.uno
        div.contingentesEjemplo
          div#agrupacionesCarousel.carousel.slide(data-ride="carousel" data-interval="false" data-pause="hover"  data-wrap="true")
              ol.carousel-indicators
                li.active(data-target="#agrupacionesCarousel" data-slide-to="0")
                li(data-target="#agrupacionesCarousel" data-slide-to="1")
                li(data-target="#agrupacionesCarousel" data-slide-to="2")
                li(data-target="#agrupacionesCarousel" data-slide-to="3")
                li(data-target="#agrupacionesCarousel" data-slide-to="4")
                li(data-target="#agrupacionesCarousel" data-slide-to="5")
                li(data-target="#agrupacionesCarousel" data-slide-to="6")
                li(data-target="#agrupacionesCarousel" data-slide-to="7")
                li(data-target="#agrupacionesCarousel" data-slide-to="8")
                li(data-target="#agrupacionesCarousel" data-slide-to="9")
              .carousel-inner
                .carousel-item.active
                  img.d-block.w-100(src=" /images/contingentes/educativo.jpg" loading="lazy" alt="Contingente 1")
                .carousel-item
                  img.d-block.w-100(src="/images/contingentes/deportivo.png" loading="lazy" alt="Contingente 2")
                .carousel-item
                  img.d-block.w-100(src="/images/contingentes/cont.png" loading="lazy" alt="Contingente 3")
                .carousel-item
                  img.d-block.w-100(src="/images/contingentes/exmilitares.png" loading="lazy" alt="Contingente 4")
                .carousel-item
                  img.d-block.w-100(src="/images/contingentes/contingente1.png" loading="lazy" alt="Contingente 5")
                .carousel-item
                  img.d-block.w-100(src="/images/contingentes/contingente3.png" loading="lazy" alt="Contingente 6")
                .carousel-item
                  img.d-block.w-100(src="/images/contingentes/contingente4.jpg"  loading="lazy" alt="Contingente 7")
                .carousel-item
                  img.d-block.w-100(src="/images/contingentes/contingente5.png" loading="lazy"  alt="Contingente 8")
                .carousel-item
                  img.d-block.w-100(src="/images/contingentes/contingente7.jpeg" loading="lazy"  alt="Contingente 9")
                .carousel-item
                  img.d-block.w-100(src="/images/contingentes/contingente8.JPG" loading="lazy" alt="Contingente 10")

              a.carousel-control-prev(href="#agrupacionesCarousel" role="button" data-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true")
                span.sr-only Previous
              a.carousel-control-next(href="#agrupacionesCarousel" role="button" data-slide="next")
                span.carousel-control-next-icon(aria-hidden="true")
                span.sr-only Next
          hr
          p Clubes, delegaciones y asociaciones con propuestas pensadas para cada grupo. Coordinamos cada aspecto para asegurar una estadía 
            strong cómoda 
            | y 
            strong organizada.
            |  Nuestro entorno es ideal para escuelas: espacios amplios, menús adaptados y zonas comunes que favorecen la convivencia. 
            strong Una opción confiable para docentes y estudiantes.
        hr.tres
        div.contingentesCierre
          p 
            em Cada grupo es 
            strong  único. 
            em  Nuestro equipo y espacios están listos para ofrecer una experiencia cálida y personalizada.


     
      section.caracteristicas 
        div.caracteristicasCont
        
          p
            span.suave Hotel Sierras 
            | cuenta con 
            span.bold 55 habitaciones, pileta climatizada, estacionamiento cubierto, salones para eventos, recepción 24 hs, Wi-Fi, seguridad, lobby bar 
            em y más servicios pensados para tu comodidad.

      section.galeria
        div.galeriaPresentacion
          h2 
            span.suave Galería
          hr
          p Descubrí nuestro hotel a través de imágenes que reflejan la 
            strong calidez 
            |y el 
            strong confort 
            | que ofrecemos. 
            | Desde nuestras habitaciones hasta los espacios comunes, cada rincón está diseñado para brindarte una experiencia 
            em inolvidable.

        div.galeriaContenedorMobile
          div#carouselSuit.carousel.slide(data-ride="carousel" data-interval="false" data-pause="hover"  data-wrap="true")
                ol.carousel-indicators
                  li.active(data-target="#carouselSuit" data-slide-to="0")
                  li(data-target="#carouselSuit" data-slide-to="1")
                  li(data-target="#carouselSuit" data-slide-to="2")
                  li(data-target="#carouselSuit" data-slide-to="3")
                  li(data-target="#carouselSuit" data-slide-to="4")
                  li(data-target="#carouselSuit" data-slide-to="5")
                  li(data-target="#carouselSuit" data-slide-to="6")
                  li(data-target="#carouselSuit" data-slide-to="7")
                  
                .carousel-inner
                  .carousel-item.active
                    img.d-block.w-100(src="https://i.ibb.co/B2b0ZtRb/galeria10.jpg" alt="Cama Doble")
                  .carousel-item
                    img.d-block.w-100(src="https://i.ibb.co/sJMJdm2F/galeria2.jpg" alt="Baño standar")
                  .carousel-item
                    img.d-block.w-100(src="https://i.ibb.co/nMPSswzQ/galeria9.jpg" alt="Sala Doble")
                  .carousel-item
                    img.d-block.w-100(src="https://i.ibb.co/s9jdDpfW/galeria4.jpg" alt="Sala Doble")
                  .carousel-item
                    img.d-block.w-100(src="https://i.ibb.co/nM7xgPXQ/galeria5.jpg" alt="Sala Doble")
                  .carousel-item
                    img.d-block.w-100(src="https://i.ibb.co/C596RXnM/galeria12.jpg" alt="Sala Doble")
                  .carousel-item
                    img.d-block.w-100(src="https://i.ibb.co/xSzgCrCB/galeria11.jpg" alt="Sala Doble")
                  .carousel-item
                    img.d-block.w-100(src="https://i.ibb.co/CKDbBC3w/galeria3.jpg" alt="Sala Doble")
                    
                a.carousel-control-prev(href="#carouselSuit" role="button" data-slide="prev")
                  span.carousel-control-prev-icon(aria-hidden="true")
                  span.sr-only Previous
                a.carousel-control-next(href="#carouselSuit" role="button" data-slide="next")
                  span.carousel-control-next-icon(aria-hidden="true")
                  span.sr-only Next   

        div.galeriaContenedor
          img(src="https://i.ibb.co/B2b0ZtRb/galeria10.jpg", alt="Imagen 1")
          img(src="https://i.ibb.co/sJMJdm2F/galeria2.jpg", alt="Imagen 2")
          img(src="https://i.ibb.co/nMPSswzQ/galeria9.jpg", alt="Imagen 3")
          img(src="https://i.ibb.co/s9jdDpfW/galeria4.jpg", alt="Imagen 4")
          img(src="https://i.ibb.co/nM7xgPXQ/galeria5.jpg", alt="Imagen 5")
          img(src="https://i.ibb.co/C596RXnM/galeria12.jpg", alt="Imagen 6")
          img(src="https://i.ibb.co/xSzgCrCB/galeria11.jpg", alt="Imagen 7")
          img(src="https://i.ibb.co/CKDbBC3w/galeria3.jpg", alt="Imagen 8") 
      
      include ../includes/botonContacto.pug
      include ../includes/iframe.pug
                      
        
    script(src="/scripts/animacionHome.js")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js")

  include ../includes/footer.pug
  
  +footer( "el Hotel Sierras" )
  