doctype html
html(lang="es")
  head
    script(src="/scripts/estiquetaGoogleRestaurante.js")
    title Sierras Restaurante
    link(rel="stylesheet", href="/css/restauranteStyle.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
    include ../includes/meta.pug
  body
    include ../includes/navbar.pug
    +navbar()
    main
      section.presentacionRestaurante 
        div.presentacionContenido
          h2.titulo
            span.bold Sierras 
            span.suave Restaurante 
          
          hr
          p Ubicado dentro del Hotel, en  
            span.suave Sierras Restaurante 
            | podes disfrutar de la mejor cocina casera con un trato familiar. Porque en Sierras Restaurant, no tenemos clientes... tenemos amigos.
          p Las pastas, las carnes, los pescados y mariscos, bases de la cocina de nuestras abuelas y la simplicidad que expresa lo exquisito de la escencia de la materia prima que proviene de distintos productores, que seleccionamos entre 
            span.bold  lo mejor de San Luis.

      section.especialidades 
        div.especialidadesContenido
          h2.titulo 
            span.suave Especialidades
          hr
          p Nos especializamos en 
           span.bold pastas caseras y platos tradicionales 
           | . Nuestra producción está orientada al 
           em "fatto in casa": 
           | casero y hecho con amor para todos nuestros huéspedes y clientes en general. 
          p Ofrecemos la mejor atención de nuestro equipo. Cocina abierta 
           span.bold TODOS LOS DÍAS 
           | de 12:30 a 14:00 hs y de 20:30 a 22:00 hs para público en general y turistas alojados. 
           span.bold ¡Consulta por nuestros eventos en el restaurante, zona VIP!
          

      section.menuGenerico
        div.menuContenido
          div.menuContenidoPresentacion
            hr
            h2 
              em No pueden faltar los clásicos...
            hr
          div.menuContenedor  
            div.menuGenericoOpcionUno.opcion
              h3 Pastas caseras 
              img(src="https://i.ibb.co/tTk6QM0B/restaurante5.png",loading="lazy" alt="")

            div.menuGenericoOpcionDos.opcion
              h3 Minutas 
              img(src="https://i.ibb.co/JRQWs4g6/restaurante6.png",loading="lazy" alt="")

            div.menuGenericoOpcionTres.opcion
              h3 Frituras 
              img(src="https://i.ibb.co/XxgndGS0/restaurante1.png", loading="lazy" alt="")

            div.menuGenericoOpcionCuatro.opcion
              h3 Pizzas y Empanadas 
              img(src="https://i.ibb.co/5hpCzYxt/restaurante3.png",loading="lazy" alt="")
            
            div.menuGenericoOpcionCinco.opcion
              h3 Mariscos
              img(src="https://i.ibb.co/1G43kwwQ/restaurante4.png",loading="lazy" alt="")
            
            div.menuGenericoOpcionSeis.opcion
              h3 Sandwichs
              img(src="https://i.ibb.co/xtSQvV4D/restaurante2.png",loading="lazy" alt="")

        div.menuGenericoLink
          h2 Para ver el menú completo, 
            |  hacé click    
            a(href="https://drive.google.com/file/d/1PCb5oug4GZw7hNuufpt7BVoiOfjgg-9_/view?usp=sharing" target="_blank") 
              em aquí

    include ../includes/botonContacto.pug
    
    
    include ../includes/iframe.pug    

  script(src="/scripts/animacionRestaurante.js")



      
    
  include ../includes/footer.pug
  
  +footer( "Sierras Restaurante" )